@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'material-icons/iconfont/material-icons.css';

html {
  background-color: #921cc038;
  font-family: 'Roboto';
}

body {
  margin:0
}

ng-select.no-padding {
  padding-bottom: 0;
}

mat-form-field.no-padding .mat-form-field-wrapper {
  padding-bottom: 0;
}

button {
  height: 45px;
}

img {
  width: 400px;
}

.pink-text {
  color: #911cc0;
}

.pink-button {
  color: #ffffff;
  background-color: #911cc0 !important;
}

.container {
  height: 100vh;
}

.panel {
  background-color: #eaf5ff;
  border-radius: 8px;
  padding: 24px 20px;
  min-width: 450px;
}

.fab-button {
  position: fixed !important;
  color: #ffffff;
  background-color: #911cc0 !important;
  bottom: 25px;
  right: 45px;
}
