<mat-card class="post">
  <mat-card-title>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <span (click)="openPost(post.id!)" class="title">{{post.title}}</span>
      <button *ngIf="username === post.user.username" mat-icon-button class="delete" (click)="deletePost(post.id!)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-title>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <span>{{post.user.username}}</span>
    <span>{{post.createdAt | date:'dd/MM/YYYY'}}</span>
  </div>
  <mat-card-content>
    <markdown [data]="post.content"></markdown>
  </mat-card-content>
  <mat-card-actions align="end">
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
      <span>{{post.commentsCounter}}</span>
      <mat-icon>comment</mat-icon>
    </div>
  </mat-card-actions>
</mat-card>
