<mat-card class="post">
  <mat-card-title><span class="title">{{post.title}}</span></mat-card-title>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <span>{{post.user.username}}</span>
    <span>{{post.createdAt | date:'dd/MM/YYYY'}}</span>
  </div>
  <mat-card-content>
    <markdown [data]="post.content"></markdown>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button>
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
        <span>{{post.commentsCounter}}</span>
        <mat-icon>comment</mat-icon>
      </div>
    </button>
  </mat-card-actions>
</mat-card>
