<div fxLayout="column" fxLayoutGap="42px" fxLayoutAlign="start center">
  <app-post *ngIf="post" (deletedId)="navigateToPosts()" [isPostView]="true" [post]="post"></app-post>
  <div class="comment-section" fxLayout="column" fxLayoutGap="25px" fxLayoutAlign="start center">
    <div *ngFor="let comment of comments" class="panel" fxLayout="column" fxLayoutGap="15px">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <span>{{comment.user.username}}</span>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span>{{comment.createdAt | date:'dd/MM/YYYY'}}</span>
          <button *ngIf="username === comment.user.username" mat-icon-button class="delete" (click)="deleteComment(comment.id!)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <span>
        {{comment.content}}
      </span>
    </div>
    <div class="panel" fxLayout="column" fxLayoutGap="15px">
      <mat-form-field appearance="outline">
        <mat-label>Comentário</mat-label>
        <textarea matInput placeholder="Adicione um comentário para este post..." [(ngModel)]="commentText"></textarea>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="15px">
        <button [style.width.px]="150" mat-stroked-button (click)="clear()" class="pink-text">CANCELAR</button>
        <button [style.width.px]="150" mat-raised-button (click)="addComment()" class="pink-button">SALVAR</button>
      </div>
    </div>
  </div>
</div>
