img {
  height: 80px;
  margin-top: 10px;
}

.mat-toolbar{
  background: #7d299e;
  color: antiquewhite;
}

.logout-btn {
  width: 110px;
  font-size: 16px;
}

.title {
  font-weight: 600;
  font-size: 24px;
}

.header-container {
  width: calc(50vw + 65px);
}
